aiohttp
flask[async]<2.3
flask-restx
flask_cors
nvidia-ml-py3
numpy<2
openvino==2024.0.0
opencv-python
opencv-python-headless
openpyxl
pandas
Pillow<10.0
psutil
python-dotenv
requests==2.25.0
tqdm
torch
torchvision
ultralytics<=8.3.40
wget
werkzeug
xlrd==1.2.0