requests==2.25.0
python-dotenv
tqdm==4.54.0
numpy<2
pandas
flask[async]<2.3
flask-restx
flask_cors
wget
opencv-python
xlrd==1.2.0
aiohttp
werkzeug
psutil
nvidia-ml-py3
torch
torchvision
openpyxl
opencv-python-headless